<div class="col-sm-6">
    <h3>Create A Task.</h3>
    <form>
        <div class="input-group form-group">
            <span class="input-group-addon" id="basic-addon1">Title</span>
            {{input type="text" class="form-control" value=title placeholder="Add A Title..." describedby="basic-addon1"}}
        </div>
        <div class="input-group form-group">
            <span class="input-group-addon">Date</span>
            {{input type="date" class="form-control" value=date}}
        </div>
        <div class="input-group form-group">
            <span class="input-group-addon">Description</span>
            {{textarea class="form-control" value=desc}}
        </div>
      <button {{action 'addTask'}}  class="btn btn-primary">Submit</button>
    </form>
</div>