<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand">"vTasks" <small>A Ember App</small></a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li>{{#link-to 'tasks.list'}}Tasks{{/link-to}}</li>
        <li>{{#link-to 'tasks.new'}}New Task{{/link-to}}</li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
      {{outlet}}
  </div>
</div>