{{outlet}}

<div class="col-sm-6">
	<h3>Tasks</h3>

	{{#each model as |task|}}
		<div class="well">
			<h4>{{task.title}}</h4>
			<small>{{task.desc}}</small>
			<p>{{task.date}}</p>
		</div>
	{{/each}}
</div>